@using Organization.BLL
@using Organization.ENTITY


@model Organization.UI.Models.OrganizationModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog Single</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Demo project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/blog_single.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/blog_single_responsive.css">
</head>
<body>
    @{ 
        List<Messages> messages = new List<Messages>();
        MessageBLL mbll = new MessageBLL();
        Users user = Session["Login"] as Users;

        Model.Messages = mbll.GetMessages(Model.Organizations.OrganizationID);



      

    }
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog_image"><img src="@Model.Organizations.Image" alt=""></div>

                    <!-- Blog Post Title -->
                    <div class="blog_post_title_container d-flex flex-row align-items-lg-center align-items-start justify-content-start">
                        <div class="blog_post_date">
                            <div class="d-flex flex-column align-items-center justify-content-center">
                                <div class="blog_post_day">@Model.Organizations.OrganizationDate.Day</div>
                                <div class="blog_post_month">@Model.Organizations.OrganizationDate.Month.ToString()</div>
                            </div>
                        </div>
                        <div class="blog_post_title_content">
                            <div class="blog_post_title">@Model.Organizations.Name</div>
                            <div class="blog_post_meta">
                                <ul>
                                    <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">@Model.Organizations.Users.FirstName</a></li>
                                    <li><i class="fa fa-comment" aria-hidden="true"></i><a href="#"><span>Kontenjan : </span>@Model.Organizations.TotalofUsers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="social_and_tags d-flex flex-lg-row flex-column align-items-start justify-content-start">
                        <div class="blog_social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>

                        </div>



                        <div class="blog_post_tags ml-lg-auto">
                            <ul>
                                <li> <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">Register Organization</a></li>

                                <li><a class="btn btn-danger" data-target="#MessagesModal" data-toggle="modal">Send Message</a></li>
                            </ul>
                            <!-- Modal -->
                            @using (Html.BeginForm("RegisterOrg", "Organization", FormMethod.Post))
                            {
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        @Html.AntiForgeryToken()
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            @Html.HiddenFor(x => x.Organizations.OrganizationID)
                                            <div class="modal-header">
                                                <h4 class="modal-title">@Model.Organizations.Name</h4>
                                            </div>
                                            <div class="modal-body">


                                                @Html.TextBoxFor(model => model.NumberofUsers, new { @class = "form-control", placeholder = "Kaç kişi katılacaksınız?" })
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-default">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
            <!-- Leave your comment -->
            @using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
            {
                <!-- Modal -->
                <div class="modal fade" id="MessagesModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            @Html.HiddenFor(x => x.Organizations.OrganizationID)
                            <div class="modal-body">
                                <div class="row leave_comment_row">
                                    <div class="col">
                                        <div class="leave_comment">
                                            <div class="leave_comment_title">Send Messages</div>
                                            <div class="leave_comment_form_container">
                                                <div class="row">
                                                    <div class="col-12">
                                                        @Html.TextBoxFor(model => model.Message.Subject, new { @class = "form_input", placeholder = "Subject", required = "required" })
                                                    </div>
                                                    <div class="col-12">
                                                        @Html.TextAreaFor(model => model.Message.Body, new { @class = "form_text", placeholder = "Your Message", required = "required" })
                                                        <button type="submit" class="form_submit_button">Send Message</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>


    <hr />
</body>
</html>
<!-- Blog Single -->
