@using Organization.ENTITY
@using Organization.BLL


@model IEnumerable<Organization.ENTITY.Organizations>

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<hr />
&nbsp;&nbsp;&nbsp;<a href="/Organization/Create" class="btn btn-warning">Create Organization</a>
<hr />
<!-- Latest News -->

<div class="news">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title">En Yeni Organizasyonlar</div>
                    <div class="section_subtitle">Be part of a community of people experiencing God together.</div>
                </div>
            </div>
        </div>
        <div class="row news_row">
            @foreach (var item in Model)
            {
                UserBLL userbll = new UserBLL();
                OrganizationBLL organizationBLL = new OrganizationBLL();
                Users user = null;
                user = userbll.GetUser(item.Users.E_mail);
                int num = organizationBLL.GetNumofUsers(item.OrganizationID);
                bool durum = false;


                <!-- News Post -->
                <div class="col-xl-4 col-lg-6 news_post_col">
                    <div class="news_post">
                        <div class="news_image"><img src="@item.Image" alt=""></div>
                        <div class="news_post_content">
                            <div class="news_post_title">
                                <a href="/Organization/Detail/@item.OrganizationID">@item.Name</a>
                            </div>
                            <div class="news_post_meta">
                                <ul>
                                    <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">@item.Users.FirstName</a></li>
                                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i><a href="#">@item.OrganizationDate</a></li>
                                    <li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">Organizasyon Yeri:  @item.OrganizationPlace</a></li>
                                </ul>
                            </div>
                            <div class="news_post_meta">
                                <ul>
                                    <li>
                                        @if (durum == true)
                                        {
                                            <a href="#" class="btn btn-success btn-sm">Katıldın</a>
                                        }
                                        else if (item.TotalofUsers != num)
                                        {
                                            <p>@num kişi bu organizasyona katılıyor.</p>

                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-danger btn-sm">FULL</a>
                                        }

                                    </li>
                                </ul>
                               
                            </div>

                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
